<!DOCTYPE html>
<html data-theme="synthwave">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Highscores</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/index-Bhs3LNXs.css">
    <script type="module" src='/assets/index-B6SijwWM.js'></script>
</head>

<body>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden"><svg xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16"></path>
                    </svg></div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a href="about">About Project</a></li>
                    <li><a href="highscores" class="text-success">Highscores</a></li>
                </ul>
            </div><a class="btn btn-ghost text-xl" href="/">Wordle</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About Project</a></li>
                <li><a href="highscores" class="text-success">Highscores</a></li>
            </ul>
        </div>
    </div>
    <main class="flex flex-col items-center justify-center min-h-screen bg-base-200">

        </div>
    </main>
</body>

</html>